<!DOCTYP html>
<html>
  <head>
    <title>WEB PROJECT</title>
    <style>
      /* #logo{
        aling:center;
      } */
      #banner{
        width:100%;
        height:360px;
        object-fit:cover;
      }
      #div1{
        float: center;
        max-width:720px;
        margin-block:center;
      }
      
      #contactus{
        float:right;
      }
      
      h2{
        text-align:center;
        font-size:32px;
        font-family:Roboto;
        font-weight:normal;
      }
    </style>
  </head>
  <body><d id="div1">
   
    <img src="static/logo.png" height=60px, object-fit:cover >
      
   <p>
    <button id="contactus" >Contact Us</button>
     </p>
    <img id="banner" src="static/banner.png" height="320" alt="HTML Dog">
    
    <p>Welcome to CodeHack, your ultimate destination for mastering the art of computer science. At CodeHack, we are dedicated to empowering learners of all levels with high-quality, comprehensive courses across a variety of computer science domains. Whether you’re a beginner just starting your journey or an experienced professional looking to upskill, our meticulously crafted courses are designed to cater to your unique learning needs.</p>
    <h2>Our Courses</h2>
    </d>
  </body>
</html>